################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/TextersLab/bin/Release/netcoreapp3.1
/TextersLab/obj/Release/netcoreapp3.1
/TextersLab/Properties/PublishProfiles

